<div class="modal-content modalfade pt-2 pb-2">
  <div class="modal-header">
    <div class="col-auto p-0 align-self-center">
      <img src="{{ imageOfDB }}" class="img-fluid" style="width: 8rem;" />
    </div>
    <div
      class="col-auto align-self-center"
      style="font-size: 1.1rem; font-weight: bold;"
    >
      Connection Parameters
    </div>
  </div>
  <div class="molad-body p-3">
    <div class="row w-100 m-0">
      <div class="col-12 mb-2" *ngIf="db === 'mongodb'">
        <label>Database</label>
        <input
          class="form-control inputStyle"
          [(ngModel)]="dbName"
          placeholder="Database"
        />
      </div>
      <div class="col-12 mb-2" *ngIf="db === 'mongodb'">
        <label>Collection</label>
        <input
          class="form-control inputStyle"
          [(ngModel)]="collection"
          placeholder="Collection"
        />
      </div>
      <div class="col-6" *ngIf="db === 'mongodb' || db === 'neo4j' || db === 'redis' || db === 'hbase'">
        <label>Url</label>
        <input
          class="form-control inputStyle"
          [(ngModel)]="url"
          placeholder="Url"
        />
      </div>
      <div class="col-6" *ngIf="db === 'mongodb' || db === 'neo4j' || db === 'hbase' || db === 'redis'">
        <label>Port</label>
        <input
          class="form-control inputStyle"
          [(ngModel)]="port"
          placeholder="Port"
        />
      </div>
      <div class="col-6 mt-2" *ngIf="db === 'mongodb' || db === 'neo4j'">
        <label>Username</label>
        <input
          class="form-control inputStyle"
          [(ngModel)]="username"
          placeholder="Username"
        />
      </div>
      <div class="col-6 mt-2" *ngIf="db === 'mongodb' || db === 'neo4j'">
        <label>Password</label>
        <input
          class="form-control inputStyle"
          [(ngModel)]="password"
          placeholder="Password"
        />
      </div>
    </div>
  </div>

  <div class="modal-footer mt-2">
    <button
      (click)="close()"
      class="btn font-weight-bold"
      style="color: #b12f26; font-size: 1rem; border: 2px solid #b12f26;"
    >
      Cancel
    </button>
    <button
      class="btn font-weight-bold"
      (click)="goToVisualization()"
      style="color: #14274e; font-size: 1rem; border: 2px solid #14274e;"
    >
      Connect <i
      style="font-size: 0.9rem;"
      *ngIf="spinerIsActive"
      class="fa fa-spinner fa-pulse fa-3x fa-fw"
    ></i>
    </button>
  </div>
</div>
