<div class="modal-content modalfade pt-2 pb-2">
    <div class="modal-header">
        <div class="col-auto p-0 align-self-center">
            <img src="{{ imageOfDB }}" class="img-fluid" style="width: 8rem;">
        </div>
        <div class="col-auto align-self-center" style="font-size: 1.1rem; font-weight: bold;">
            Connection Parameters
        </div>
    </div>
    <div class="molad-body p-3">
        form
    </div>

    <div class="modal-footer mt-2">
        <button (click)="close()" class="btn font-weight-bold"
            style="color: #b12f26; font-size: 1rem; border: 2px solid #b12f26;">
            Cancel
        </button>
        <button class="btn font-weight-bold" (click)="goToVisualization()"
            style="color: #14274e; font-size: 1rem; border: 2px solid #14274e;">
            Connect
        </button>
    </div>



</div>